@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gooper-Condensed;
  src: url(../assets/fonts/Gooper_Font/webfonts/VCGooperSemiCondensed-SemiBold.woff)
    format('woff');
}
@font-face {
  font-family: Fellix;
  font-weight: normal;
  src: url(../assets/fonts/Felix_Font/TTF/Fellix-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Fellix;
  font-weight: 500;
  src: url(../assets/fonts/Felix_Font/TTF/Fellix-Medium.ttf) format('truetype');
}

body:has(.dialog-open) {
  overflow: hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0px 1000px var(--tw-background-color, #fff) inset;
  background-color: var(--tw-background-color, #fff);
  transition: background-color 5000s ease-in-out 0s;
}