@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Gooper-Condensed;
  src: url(../assets/fonts/Gooper_Font/webfonts/VCGooperSemiCondensed-SemiBold.woff)
    format('woff');
}
@font-face {
  font-family: Fellix;
  font-weight: normal;
  src: url(../assets/fonts/Felix_Font/TTF/Fellix-Regular.ttf) format('truetype');
}
@font-face {
  font-family: Fellix;
  font-weight: 500;
  src: url(../assets/fonts/Felix_Font/TTF/Fellix-Medium.ttf) format('truetype');
}

body:has(.dialog-open) {
  overflow: hidden;
}
